---
import Layout from "../layouts/Layout.astro";
import { getAllEntriesOfContentType } from "../services/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

Astro.response.headers.set(
  "Cache-Control",
  `max-age=${import.meta.env.CACHING_MAX_AGE}`
);

// https://docs.astro.build/en/guides/cms/contentful/

const aboutItems = await getAllEntriesOfContentType('aboutSection');
---

<Layout title="DSSD Madison - About">
  <main>
      {aboutItems.map((item, index) => (
        <div class={"flex flex-col items-center py-10 px-10 " + (index % 2 == 0 && "bg-zinc-900 text-white")}>
          <h1 class={"text-2xl xl:text-3xl mb-5 text-center p-4" + (index % 2 ? "text-gray-700" : "text-white")}>{item.fields.title}</h1>
          <article class="max-w-5xl" set:html={documentToHtmlString(item.fields.info)}></article>
        </div>
      ))}
  </main>
</Layout>
