---
import Layout from "../layouts/Layout.astro";
import { getAbout } from "../services/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

Astro.response.headers.set(
  "Cache-Control",
  `max-age=${import.meta.env.CACHING_MAX_AGE}`
);

// https://docs.astro.build/en/guides/cms/contentful/

const about = await getAbout();
---

<Layout title="DSSD Madison - About">
  <main>
    <div class="flex flex-col lg:flex-row">
      <div class="p-10 m-10 bg-slate-200 shadow-xl rounded-xl">
        <h1 class="text-2xl text-center p-4 text-gray-700">Who We Are</h1>
        <article set:html={documentToHtmlString(about.whoWeAre)}></article>
      </div>
      <div class="p-10 m-10 bg-slate-200 shadow-xl rounded-xl">
        <h1 class="text-2xl text-center p-4 text-gray-700">What We Do</h1>
        <article set:html={documentToHtmlString(about.whatWeDo)}></article>
      </div>
    </div>
  </main>
</Layout>
