---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import { getAllEntriesOfContentType } from "../services/contentful";

Astro.response.headers.set(
    "Cache-Control",
    `max-age=${import.meta.env.CACHING_MAX_AGE}`
);

const projects = await getAllEntriesOfContentType('project');
---

<Layout title="DSSD Madison - Projects">
    <main class="pt-28">
        <div class="border-b-2 container p-8 mx-auto border-grey-200 space-y-8">
            {projects.map((project) => (
                <Project data={project.fields}/>
            ))}
        </div>
    </main>
</Layout>
