<nav class="flex bg-blue-200 text-lg ">
    <div class="flex mr-auto">
        <a href="#">
            <div class="p-6 bg-blue-400 text-white hover:bg-blue-600">
                HOME
            </div>
        </a>
    </div>
    <div class="flex ml-auto">
        <a href="#">
            <div class="p-6 bg-blue-400 text-white hover:bg-blue-600">
                ABOUT
            </div>
        </a>
        <a href="#">
            <div class="p-6 bg-blue-400 text-white hover:bg-blue-600">
                PROJECTS
            </div>
        </a>
        <a href="#">
            <div class="p-6 bg-blue-400 text-white hover:bg-blue-600">
                PEOPLE
            </div>
        </a>
        <a href="#">
            <div class="p-6 bg-blue-400 text-white hover:bg-blue-600">
                BLOG
            </div>
        </a>
        <a href="#">
            <div class="p-6 bg-blue-400 text-white hover:bg-blue-600">
                CONTACT
            </div>
        </a>
    </div>
</nav>