<div class="m-4 p-1 rounded border-2 border-black w-48">
    <img class="md:h-14 inline-block py-auto float-left self-center m-2" src="/favicon.svg" alt="image">
    <p>Name</p>
    <p>Year</p>
    <p>About</p>
</div>