---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";

const {data, id} = Astro.props;
---

<div class=""  id={id}>
    <div class="p-4 mx-4 shadow rounded-3xl	bg-blue-50 lg:mx-64">
        <div class="flex justify-between">
            <h1 class="text-gray-600 text-3xl p-4">{data.title}</h1>
            <a href={"people#" + data.author.fields.fullName} class="text-2xl p-4 text-gray-600 text-right underline">{data.author.fields.fullName}</a>
        </div>
        <article class="p-4 text-gray-800" set:html={documentToHtmlString(data.body)}></article>
    </div>

</div>