<div class="bg-gray-200 fixed bottom-0 right-0 width-320 bg-opacity-50 text-blue-900 z-50">
    <div class="bg-opacity-50">
          <div class="px-10 py-10 opacity-100 text-blue-900">Pre-release: content and designs are not final</div>
    </div>
</div>