---
import { documentToHtmlString } from "../util/richTextHelper";

const {preview, title, description, team} = Astro.props.data;

---

<div class="grid md:grid-cols-5 md:p-8 gap-8 group hover:bg-gray-200 rounded-2xl transition duration-800">
    <div class="col-span-2 md:max-h-96 max-h-32 md:p-8">
        <img class="align-middle object-contain m-auto max-h-full group-hover:scale-105 transition duration-300" src={"https:" + preview.fields.file.url} alt="image">
    </div>
    <div class="md:col-span-3">
        <h3 class="text-3xl font-medium text-blue-500 py-4">{title}
        </h3>
        <p class="text-grey-800 max-w-2xl inline-block pb-4">
            <article set:html={documentToHtmlString(description)}></article>
        </p>
        <div>
            <h3 class="text-2xl font-medium text-blue-500 py-4">Team Members:</h3>
            <div>
                <ul>
                    {team.map((member) => {
                        return (<li><a href={"people#" + member.fields.fullName} class="text-sky-600">{member.fields.fullName}</a></li>)
                    })}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="mb-10 border-gray-300 border-t-2 last:border-t-0 last:!m-0"></div>