---

const {data, id} = Astro.props;

let img;
if (data.file) {
    img = "https:" + data.file.url;
}
---
<div id={id}>
    <h2 class={"text-3xl text-center p-4 text-gray-700"}>{data.title}</h2>
    <p class={"text-3xl text-center p-4 text-gray-700"}>{data.description}</p>
    <div class = "flex items-center justify-center">
        <img src = {img ? img : "/no-user-img.svg"} alt="">
    </div>
</div>
