---
import GalleryImage from "../components/GalleryImage.astro";
import { getAllEntriesOfContentType } from "../services/contentful";
import HomeSection from "./HomeSection.astro";

const gallery = await getAllEntriesOfContentType('galleryImage');
---

<script>
  // core version + navigation, pagination modules:
  import Swiper, { Navigation, Pagination, EffectCards } from 'swiper';
  // import Swiper and modules styles
  import 'swiper/css';
  import 'swiper/css/navigation';
  import 'swiper/css/pagination';

  const swiper = new Swiper('.swiper', {
    modules: [Navigation, Pagination, EffectCards],
    
    effect: 'cards',
    grabCursor: true,
    autoHeight: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    }
  });
</script>

<HomeSection title="Gallery">
  <div class="swiper md:w-1/2 w-full px-4">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {gallery.map((item) => (
        <div class="swiper-slide">
          <div class="mx-auto">
            <GalleryImage data={item.fields}/>
          </div>
        </div>
      ))}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination text-blue-400 !bottom-1"></div>
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev ml-4 text-blue-400"></div>
    <div class="swiper-button-next mr-4 text-blue-400"></div>
  </div>
</HomeSection>