---
import GalleryImage from "../components/GalleryImage.astro";
import { getAllEntriesOfContentType } from "../services/contentful";
import HomeSection from "./HomeSection.astro";

const gallery = await getAllEntriesOfContentType('galleryImage');
---

<HomeSection title="Gallery">
  <div class="overflow-hidden text-gray-700 ">
    <div class="container mx-auto">
      <div class="flex flex-wrap mx-3 -m-1 md:-m-2 justify-around">
        {gallery.map((item) => (
          <div class="flex flex-wrap md:w-1/2 w-full">
            <div class="w-full p-1 md:p-2">
              <GalleryImage data={item.fields}/>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</HomeSection>