---
import GalleryImage from "../components/GalleryImage.astro";
import { getAllEntriesOfContentType } from "../services/contentful";

const gallery = await getAllEntriesOfContentType('galleryImage');
---

<main class="p-6 mb-20">
  <h1 class="text-center text-5xl p-6">Image Gallery</h1>
  <div class="overflow-hidden text-gray-700 ">
    <div class="container mx-auto">
      <div class="flex flex-wrap -m-1 md:-m-2 justify-around">
        {gallery.map((item) => (
          <div class="flex flex-wrap md:w-1/2 w-full">
            <div class="w-full p-1 md:p-2">
              <GalleryImage data={item.fields}/>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</main>