---
import { getAllEntriesOfContentType } from "../services/contentful";
import Post from "../components/Post.astro";
import HomeSection from "./HomeSection.astro";
const posts = await getAllEntriesOfContentType('blogPost');
---

<HomeSection title="Updates" class="bg-zinc-900 text-white">
  <div class="-mb-7">
    {posts.map((post) => (
      <Post data={post.fields}/>
    ))}
  </div>
</HomeSection>