---
const { img, alt, ...props } = Astro.props;
---

<a class="inline-block h-10 aspect-square relative" {...props}>
  {
    img ? (
      <img
        class="h-5 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"
        src={img}
        alt={alt}
      />
    ) : (
      <slot />
    )
  }
</a>
