---
export interface Props {
	title: string;
}

import Navbar from '../components/Navbar.svelte'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-100">
		<Navbar client:load title={title}/>
		<slot />
		<div style="position: absolute; bottom: 8px; right: 8px; width: 320px; text-align:bottom">Pre-release: content and designs are not final</div>
	</body>
</html>
