---

import Navbar from '../components/Navbar.svelte';
import Footer from '../components/Footer.astro';
import PrereleaseWarning from '../components/PrereleaseWarning.astro';

const { title } = Astro.props;
const path = String(Astro.url.pathname);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline type="module">
			window.onhashchange = window.onload = () => window.scrollBy({top: -150, behavior: "smooth"})
		</script>
	</head>
	<body class="bg-gray-100">
		<Navbar client:load path={path} />
		<slot />
		<Footer />
		<!--<PrereleaseWarning/>-->
	</body>
</html>
