---
export interface Props {
	title: string;
}

import Navbar from '../components/Navbar.svelte'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-100">
		<Navbar client:load title={title}/>
		<slot />
		<div class="bg-gray-200 fixed bottom-0 right-0 width-320 bg-opacity-50 text-blue-900">
			<div class="bg-opacity-50">
				  <div class="px-10 py-10 opacity-100 text-blue-900">Pre-release: content and designs are not final</div>
			</div>
		  </div>
	</body>
</html>
